### GRADLE ###
.gradle/
build/
/build/
!gradle/wrapper/gradle-wrapper.jar
.gradle-home/

### 빌드 부산물 및 임시 파일 ###
*.bin
*.html
*.jar
*.war
**/build/
**/bin/
**/out/

### INTELLIJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/
atlassian-ide-plugin.xml
com_zeroturnaround_jrebel_intellij_jr.xml

### SPRING BOOT ###
HELP.md

# LOG FILES
*.log
logs/

# TEMP FILES
tmp/
temp/

### SYSTEM FILES ###
.DS_Store
Thumbs.db

### VS CODE ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### DATABASE & ENV ###
*.rdb
*.aof
.env
infrastructure/redis/data/*
!infrastructure/redis/data/.gitkeep
