### GRADLE ###
.gradle/
build/
/build/
!gradle/wrapper/gradle-wrapper.jar

### INTELLIJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
# EXCLUDE SUB-MODULE BUILD DIRECTORIES
**/build/
**/bin/
**/out/

### SPRING BOOT ###
HELP.md
# LOG FILES
*.log
# TEMP FILES
tmp/

### SYSTEM FILES ###
.DS_Store
Thumbs.db

### VS CODE ###
.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
