services:
  # 1. DISCOVERY (EUREKA)
  discovery:
    image: remitro/discovery:latest
    build:
      context: .
      dockerfile: remitro-discovery/Dockerfile
    container_name: remitro-discovery
    ports:
      - "8761:8761"
    networks:
      - remitro-network

  # 2. GATEWAY
  gateway:
    image: remitro/gateway:latest
    build:
      context: .
      dockerfile: remitro-gateway/Dockerfile
    container_name: remitro-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery
      - redis
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://remitro-discovery:8761/eureka/
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - remitro-network

  # 3. REDIS
  redis:
    image: redis:7.2-alpine
    container_name: remitro-redis
    ports:
      - "6379:6379"
    volumes:
      - ./infrastructure/redis/data:/data
    networks:
      - remitro-network
    command: redis-server --save 60 1 --loglevel warning --appendonly yes

  # 4. ZOOKEEPER & KAFKA
  # KAFKA 상태 고나리자 (메타데이터 저장, 브로커 관리)
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: remitro-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - remitro-network

  # 실제 메시지 저장 및 전달
  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: remitro-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: remitro-zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://remitro-kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - remitro-network

  # KAFKA 내부 상태를 보여주는 웹 화면
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: remitro-kafka-ui
    depends_on:
      - kafka
    ports:
      - "8989:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=remitro-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=remitro-kafka:29092
    networks:
      - remitro-network

networks:
  remitro-network:
    name: remitro-network

    # 외부에서 이 네트워크를 참조할 수 있도록 브릿지로 설정
    driver: bridge
