services:
  # 1. MEMBER
  member:
    image: remitro/member:latest
    build:
      context: .
      dockerfile: remitro-member/Dockerfile
    container_name: remitro-member
    ports:
      - "8081:8081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://remitro-discovery:8761/eureka/
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=remitro-kafka:29092
    networks:
      - remitro-network

  # 2. ACCOUNT
  account:
    image: remitro/account:latest
    build:
      context: .
      dockerfile: remitro-account/Dockerfile
    container_name: remitro-account
    ports:
      - "8082:8082"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://remitro-discovery:8761/eureka/
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=remitro-kafka:29092
    networks:
      - remitro-network

networks:
  # 이미 생성된 인프라 네트워크를 사용하도록 설정
  remitro-network:
    external: true
