server:
  port: 8081

spring:
  application:
    name: remitro-member

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:remitro_db;MODE=MySQL;DB_CLOSE_DELAY=-1
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

    properties:
      hibernate:
        # 출력되는 SQL을 한 줄이 아닌 가독성 좋게 포맷팅
        format_sql: true

        # JPA가 H2 데이터베이스 전용 문법으로 쿼리를 생성하도록 지정
        dialect: org.hibernate.dialect.H2Dialect

  h2:
    console:
      # 웹 브라우저에서 DB 내부를 확인할 수 있는 GUI 도구 활성화
      enabled: true

      # 접속 경로 (http://localhost:8081/h2-console)
      path: /h2-console

  sql:
    init:
      # H2 실행 시 data.sql 파일을 읽기 위한 설정
      mode: always

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      # 유레카 서버(Discovery)의 위치를 지정
      defaultZone: http://localhost:8761/eureka/

    # 이 서비스를 유레카 서버에 등록할지 여부
    register-with-eureka: true

    # 유레카 서버로부터 다른 서비스들의 정보를 가져올지 여부
    fetch-registry: true

jwt:
  # 토큰 발급 주체 (서비스 식별용, 검증 시 사용)
  issuer: remitro-auth

  # 최소 256bit (32자 이상) 필수
  secret: "secret-key-secret-key-secret-key-secret-key-secret-key"

  # 밀리초 기준
  access-token-expiration-time: 1800000       # 30분
  refresh-token-expiration-time: 1209600000   # 14일
